*{
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC017;
    border-bottom: 1px solid black;
    padding: 25px;
    
    position: fixed;
    left: 0;     
    top: 0;       
    width: 100%;
    z-index: 10;
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    margin-left: 780px;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 20px;
    cursor: pointer;
  }
  .navbar-button{
    background-color: black;
    color: aliceblue;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 16px;
    background: rgba(25, 25, 25, 1);
    border-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    border-radius: 99em;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
  }
  .middle{
    background-color: #FFC017;
    padding: 12em 12em 8em 12em;
    border-bottom: 1px solid black;
  }
  .middle h1{
    font-size: 106px;
    font-weight: 400;
  }
  .middle h3{
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    
  }
  .middle-button{
    background-color: black;
    color: aliceblue;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 8px 20px;
    width: 213px;
    background: rgba(25, 25, 25, 1);
    border-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    border-radius: 99em;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
  }
  
  
  