.post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-title {
    text-align: center;
  }
  
  .post-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .post-text {
    margin-top: 10px;
  }
  
  .post-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .like-button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border: none;
    font-size: 30px;
  }
  .delete-button{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
  }
  
  .comment-section {
    margin-top: 10px;
  }
  
  .comment-input {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
  }
  
  .comment-button {
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  